#footer{
    width: 100%;
    padding: 0 30px;
    .container{
        position: relative;
        width: 100%;
        margin: 0 auto;
        max-width: 1720px;
        .menu{
            width: 100%;
            ul{
                width: 100%;
                display: flex;
                li{
                    a{
                        font-size: 16px;
                        padding: 6px 0 6px 17px;
                        display: block;
                        font-weight: 700;
                        i{
                            padding:0 17px;
                            display: inline-block;
                            vertical-align: top;
                        }
                        &:nth-child(1){
                            padding: 0;
                        }
                    }
                }
            }
        }
        .company{
            margin: 12px 290px 0 0;
            .address{
                p{
                    margin-top: 3px;
                    color: #999;
                    font-size: 13px;
                    strong{
                        vertical-align: top;
                        color: #000;
                        font-weight: 400;
                    }
                }
            }
            .copy{
                margin-top: 12px;
                p{
                    margin-top: 3px;
                    color: #999;
                    font-size: 13px;
                }
            }
            .isms{
                padding: 28px 0;
                display: flex;
                align-items: center;
                img{}
                .text-box{
                    margin-left: 10px;
                    p{
                        margin-top: 3px;
                        color: #999;
                        font-size: 13px;
                    }
                }
            }
        }
        .infos{
            height: auto;
            width: auto;
            position: absolute;
            top: 0;
            right: 0;
            .sns{
                height: 34px;
                ul{
                    display: flex;
                    justify-content: right;
                   li{
                    margin-left: 8px;
                       a{
                           height: 34px;
                           width: 34px;
                           display: block;
                           background: url(../../../public/images/intro/foot_sns_ico1.png)no-repeat;
                        }
                        &:nth-child(2){
                            a{
                                background-position: -120px 0;
                            }
                        }
                        &:nth-child(3){
                            a{
                                background-position: -80px 0;
                            }
                        }
                        &:nth-child(4){
                            a{
                                background-position: -160px 0;
                            }
                        }
                   }

               } 
            }
            .cs{
                margin-top: 5px;
                text-align: left;
                strong{
                    font-size: 24px;
                    font-weight: 700;
                }
                span{
                    font-size: 24px;
                }
            }
            .tm{
                margin-top: 10px;
                text-align: right;
                p{
                    font-size: 13px;
                    line-height: 17px;
                }
            }
        }
        .bottom{
            width: 100%;
            padding: 18px 0 35px 0;
            border-top: 1px solid #ddd;
            .link{
                ul{
                    display: flex;
                    li{
                        a{
                            font-size: 13px;
                            display: block;
                            line-height: 22px;
                            letter-spacing: -.26px;
                            color: #4b4b4b;
                            i{
                                padding: 0 17px;
                                vertical-align: top;
                            }
                        }
                        &:nth-child(1){
                            font-size: 16px;
                            font-weight: 600;
                            color: #333;
                        }
                    }
                }
            }
        }
    }
}