#topModal{
    max-width: 1903px;
    width: 100%;
    height: 50px;
    background: #000;
    .slide-container{
        position: relative;
        width: 100%;
        height: 100%;
        .slide-view{
            width: 100%;
            height: 100%;
            overflow: hidden;
            .slide-wrap{
                display: flex;
                width: 100% * 6;
                height: 100%;
                .slide{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    p{
                        width: 100%;
                        span{
                            padding: 0 5px;
                            font-size: 16px;
                            line-height: 50px;
                            letter-spacing: 1px;
                            font-weight: 400;
                        }
                    }
                    
                }
            }
            .close-btn{
                    right: 30px;
                    top: 17%;
                    position: absolute;
                    border: 0;
                    width: 20px;
                    height: 20px;
                    display: block;
                    font-weight: 400;
                    font-size: 25px;
                    background: transparent;
                    color: #fff;
                    cursor: pointer;

            }
            .button-box{
                position: absolute;
                top: 0;
                right: 150px;
                display: flex;
                width: 83px;
                height: 100%;
                justify-content: center;
                align-items: center;
                .prev-btn{
                    right: 60px;
                    position: absolute;
                    cursor: pointer;
                    border: 0;
                    width: 33px;
                    height: 33px;
                    background: url(../../../public/images/intro/top_banner_arrow_prev.svg)no-repeat left center;
                }
                .next-btn{
                    position: absolute;
                    background: url(../../../public/images/intro/top_banner_arrow_next.svg)no-repeat right center;
                    cursor: pointer;
                    border: 0;
                    width: 33px;
                    height: 33px;
                    right: -10px;
                }
                .pagenation{
                    display: flex;
                    em{
                        color: #fff;
                        font-size: 16px;
                        font-weight: 700;
                        vertical-align: top;
                        display: inline-block;
                        padding: 0 6px;
                    }
                    i{
                        color: #fff;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}